# General
GATEWAY_PORT=3000
# Auth Service
AUTH_PORT=3001
# Article Service
ARTICLE_PORT=3002
# Category Service
CATEGORY_PORT=3003
# Interaction Service
INTERACTION_PORT=3004
# Statistics Service
STATISTICS_PORT=3005
# User Service
USER_PORT=3006

MONGO_URI=mongodb+srv://dangkien2116_db_user:kien123456@cluster0.1dgs0tz.mongodb.net/?appName=Cluster0
JWT_ACCESS_SECRET=thukhongthetietloradc
JWT_REFRESH_SECRET=thukhongthetietloradc
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d